<h3> Group Assignment 3 <small> Due on Sunday 23 October. </small>
    <span class="label label-warning" ng-hide="submitted[5]"> Due Soon </span> 
    <span class="label label-success" ng-show="submitted[5]"> Submitted </span>  
</h3>

<p class="lead">Research [2 hours]</p>

<p>A requirements engineering plan should focus on what you want to know. Think of the questions and claims that are important in this project. Identify which questions you have already answered, to what extent, and how reliable that answer is. Then plan what questions you want to have answered for this and next week and how you will get the answer. Make sure the answers to these questions are important to the main stakeholders. For the claims: which could you refute? </p>

<p>Questions could be:</p>
<ul>
    <li>How does a DLO impact quality of learning?</li>
    <li>How does a DLO impact the organization of learning? : what would happen if we choose not to use a new DLO - who will suffer, what will go wrong more and why?</li>
    <li>What characteristics of users and usage are important to consider for the selection of a new system?</li>
    <li>Which type of usability problems will lead to problems in education (make it SMART)?</li>
    <li>Which type of usability problems might be annoying but have no impact on education?</li>
</ul>
<p>Claims you could try to refute:</p>
<ul>
    <li>More and better use of educational tools will improve education.</li>
    <li>If the DLO will make educational tools easy to apply, these will be applied more in the classroom.</li>
    <li>A stratified use of Blackboard will improve student satisfaction.</li>
    <li>A stratified use of Blackboard will improve study behaviour.</li>
</ul>

<p class="lead">Prepare co-creation [2 hours]</p>

<p>In the workshop from this week we will discuss some techniques to co-create (design in this case) a new system. You will have to do a co-creation session next week. Please prepare for this. Activities: read, learn, plan. Output: a script for the co-creation session.</p>

<p><a>http://www.designkit.org/methods/33</a></p>

<button class="btn btn-warning " ng-click="$parent.$parent.submitted[5]=true" ng-hide="submitted[5]"> Submit </button>
<button class="btn btn-success " disabled ng-show="submitted[5]"> Submit </button>

<h3> Reading Assignment 3 <small> Due on Wednesday 26 October. </small> 
    <span class="label label-warning" ng-hide="submitted[6]"> Due Soon </span> 
    <span class="label label-success" ng-show="submitted[6]"> Submitted </span> 
</h3>

<p>Sense making of the data, the assignment and the requirements</p>

<ul>
    <li>Sense making: Read the materials about Weick and Klein. Talk to four different students about this course, and find differences about their perception about this assignment and why it helps them achieve the learning goals. Try to explain these differences using the articles of Weick and Klein.</li>
    <li>Decisions: reflect on where you spend your time on the past week. Can you still account for your time spent? Did you spent it wisely? Did you make explicit decisions about it? Can you explain your decision making using the model of naturalistic decision making?</li>
</ul> 

<p>Required Reading:</p>
<ul>
    <li>Daniel Kahneman: Thinking, Fast and Slow, (pp. 156-208)</li>
    <li>Weick sense making— ENACTED SENSEMAKING IN CRISIS SITUATIONS</li>
    <li>Klein naturalistic decision making <a>http://intra.iam.hva.nl/content/1112/verdieping1/models_en_processes/intro-en-materiaal/Klein_2008_HF_NDM.pdf</a></li>
</ul> 

<p>Additional sources:</p>
<ul>
    <li>Making Sense of Sensemaking 1- Alternative Perspectives</li>
    <li>Perspectives on Sensemaking</li>
    <li>QUAGOL A guide for qualitative data analysis</li>
    <li>The sensemaking process and leverage points for analyst technology as identified through cognitive task analysis</li>
    <li>Understanding and Characterizing Insights How Do People Gain Insights Using Information Visualization.</li>
</ul> 
    
<button class="btn btn-warning " ng-click="$parent.$parent.submitted[6]=true" ng-hide="submitted[6]"> Submit </button>
<button class="btn btn-success " disabled ng-show="submitted[6]"> Submit </button>

