<h3> Group Assignment 2 <small> Deadline: Sunday 9 October. </small> <span class="label label-danger" ng-hide="submitted1"> Overdue </span> <span class="label label-success" ng-show="submitted1"> Submitted </span> </h3>

<p class="lead"> RESEARCH: [2 hours] </p>  

<p> Spend two hours on the web and in the (digital) library to make sense of “how digital learning environments impact the quality of learning”. </p>

<p> Look at the different digital learning environments and their features. Look at how courses are organised that are given mainly online (coursera /edx). And look at literature about what are the important characteristics of high quality learning. </p>

<p class="lead"> INTERVIEWS: [2 hours] </p> 

<p>Conduct three video-recorded interviews. Publish these, and a one minute montage as described in the assignment for week 1, on your website.</p>
<ul>
    <li>Conduct your interviews, take some care to prepare your questions (focus on the task activities, know how to respond to answers to invite more (detailed) information).</li>            
    <li>After each interview examine the information you got. Reflect with your partner. Which questions were productive? What do you know about the reliability of the answers you get? How can you get more reliable information?</li>            
    <li>Base at least one interview on the paper "Apprenticing with the customer" (see under "Reading ...") : i.e. one of the interviewees is being interviewed at the place where they are reading their books, while they show how they read their books.</li>        
    <li>Log interesting findings and effective questions.</li>
</ul>

<p class="lead">ORGANIZE: [1 hours]</p>

<p> You begin to gather quite a lot of data. Take one to two hours to set up your administration in such a way that it is easy to continuously restructure your RE focus, remember: you still have to learn what the right questions are. Discuss the ideas from the paper on Contextual Design how you structure your data here. </p>

<button class="btn btn-primary btn-large" ng-click="$parent.$parent.submitted1=true" ng-hide="submitted1"> Submit </button>

<h3> Reading Assignment 2 <small> Deadline: Wednesday 12 October. </small> <span class="label label-warning" ng-hide="submitted2"> Due Soon </span> <span class="label label-success" ng-show="submitted2"> Submitted </span> </h3>

<p class="lead"> This week's theme: Getting rich and useful data </p>

<p> Explore literature about emphatic listening, active listening and identify five verbal and non verbal cues that stimulate the interviewee in providing elaborate information. </p>

<ul>
    <li> Apply techniques from 1 and 2 techniques in your interviews and assess your partner on the cues you identified in 1 and 2. </li>
    <li> Explain from the theory how memory works why some of the techniques yield more reliable memories than others. </li>
    <li> Explain from the theory how memory works why some of the techniques yield more reliable memories than others. </li>
    <li> Experiment with the technique as described in "Apprenticing with the customer", can you see that this helps yield more reliable memories? </li>
</ul>

<p> Ad 1 and 2 Stakeholders are a rich source of information. For a requirements engineer it is important to get the right information from interviews. Getting people to elaborately talk on topic is sometimes a challenge. The words we use, how we say it, our posture, our reactions, moments of silence are all of impact (this is what I refer to as cues in the assignment). </p>

<p> This is important in a wide range of fields: e.g. journalists, interviewers, psychologists, doctors as well as requirements engineers. </p>

<p> For this assignment you should reference literature. Explore multiple sources. Look at empirical and anecdotal evidence. Provide an annotated bibliography of sources you consider relevant. </p>

<button class="btn btn-primary btn-large" ng-click="$parent.$parent.submitted2=true" ng-hide="submitted2"> Submit </button>
